<div class="container" (scroll)="onScrollRiseLimit($event)">
  <app-side-menu class="side-menu"></app-side-menu>
  <div class="list-container">
    <div class="filter-input-container">
      <mat-form-field
      class="filter-input"
      floatLabel="always"  
      appearance="fill">
        <input matInput placeholder="Find your pokemon...">
        <button matSuffix mat-icon-button aria-label="Example icon button with a vertical three dot icon">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <mat-progress-spinner
      *ngIf="isLoading"
      color="warn"
      class="progess-spinner"
      mode="indeterminate"
    >

    </mat-progress-spinner>
    <div #gridList class="grid-list-items">
      
      <ng-container *ngIf="!isLoading">
        <app-list-card
          *ngFor="let pokemon of pokemonList"
          [pokemon]="pokemon"
        >
        </app-list-card>
      </ng-container>
    </div>
  </div>
</div>
