<div class="container">
  <app-side-menu class="side-menu"></app-side-menu>
  <div class="list-container">
    <img class="pokebola-image-background" src="assets/images/pokebola-cinza.png" alt="">
    <div class="filter-input-container">
      <mat-form-field
      class="filter-input"
      floatLabel="always"  
      appearance="fill">
        <input matInput placeholder="Find your pokemon...">
        <button matSuffix mat-icon-button aria-label="Example icon button with a vertical three dot icon">
          <mat-icon>catching_pokemon</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="grid-list-items">
      <app-list-card>
      </app-list-card>
      <app-list-card>
      </app-list-card>
      <app-list-card>
      </app-list-card>
      <app-list-card>
      </app-list-card>
      <app-list-card>
      </app-list-card>
      <app-list-card>
      </app-list-card>
      <app-list-card>
      </app-list-card>
      <app-list-card>
      </app-list-card>
      <app-list-card>
      </app-list-card>
      <app-list-card>
      </app-list-card>
      <app-list-card>
      </app-list-card>
      <app-list-card>
      </app-list-card>
      <app-list-card>
      </app-list-card>
      <app-list-card>
      </app-list-card>
      <app-list-card>
      </app-list-card>
      <app-list-card>
      </app-list-card>
      <app-list-card>
      </app-list-card>
      <app-list-card>
      </app-list-card>
      <app-list-card>
      </app-list-card>
      <app-list-card>
      </app-list-card>
      <app-list-card>
      </app-list-card>
      <app-list-card>
      </app-list-card>
      <app-list-card>
      </app-list-card>
      <app-list-card>
      </app-list-card>
      <app-list-card>
      </app-list-card>
      <app-list-card>
      </app-list-card>
      <app-list-card>
      </app-list-card>
      <app-list-card>
      </app-list-card>
      <app-list-card>
      </app-list-card>
      <app-list-card>
      </app-list-card>
      <app-list-card>
      </app-list-card>
      <app-list-card>
      </app-list-card>
      <app-list-card>
      </app-list-card>
      <app-list-card>
      </app-list-card>
      <app-list-card>
      </app-list-card>
      <app-list-card>
      </app-list-card>
      <app-list-card>
      </app-list-card>
      <app-list-card>
      </app-list-card>
      <app-list-card>
      </app-list-card>
      <app-list-card>
      </app-list-card>
      <app-list-card>
      </app-list-card>
      <app-list-card>
      </app-list-card>
      <app-list-card>
      </app-list-card>
      <app-list-card>
      </app-list-card>
      <app-list-card>
      </app-list-card>
      <app-list-card>
      </app-list-card>
      <app-list-card>
      </app-list-card>
      <app-list-card>
      </app-list-card>
      <app-list-card>
      </app-list-card>
    </div>
  </div>
</div>
