.card-body {
  display: flex;
  justify-content: flex-end;
  width: 200px;
  height: 120px;
  border-radius: 22px;
  background-color: #cecece;

  .info-container {
    
    width: 100%;
    display: flex;
    flex-direction: column;
    
    

    .pokemon-name {
      font-size: 16px;
      text-transform: capitalize;
      font-weight: bold;
      color: #424242;
    }

    .pokemon-type-label { 
      margin: 10px 0 0 0;
      width: 90px;
      background-color: #ffffff;
      justify-content: center;
      font-weight: bold;
    }
  }

  .images-container {
    position: relative;

    .pokeball-image {
      width: 90px;
      height: 90px;
    }
  
    .pokemon-image {
      position: absolute;
      top: 0;
      left: 0;
      
    }

    .pokemon-image {
      position: absolute;
      top: 0;
      left: 0;
      
    }
  }
  
}