<div class="side-menu-container">

  <app-side-menu-item
    class="side-menu-item"
    [idButton]="'All'"
    [typeName]="'All'"
    [color]="isTypeSelected('All') ? '#fff' : '#000'"
    [backgroundColor]="isTypeSelected('All') ? '#000' : '#fff'"
    (buttonTypeClick)="onClick($event)"
  >
  </app-side-menu-item>
  <app-side-menu-item
    class="side-menu-item"
    *ngFor="let type of types;"
    [idButton]="type.name"
    [typeName]="type.name"
    [color]="isTypeSelected(type.name) ? '#fff' : type.color"
    [backgroundColor]="isTypeSelected(type.name) ? type.color : '#fff'"
    (buttonTypeClick)="onClick($event)"
  >
  </app-side-menu-item>

</div>